/target/
/PersonajesCC/nbproject/
/CadPersonajes/nbproject/
/CadPersonajes/target/
/PojosPersonajes/target/
/PersonajesSC/target/
/PersonajesCC/target/

/CadPersonajes/src/test/
/PersonajesCC/src/test/
/PersonajesSC/src/test/
/PojosPersonajes/src/test/

/PersonajesSC/logs/